/*--------------------*\
		Variables
\*--------------------*/

$fontSize: 62.5%; // = 10px
$fontColor: #333;
$bgColor: #34495e;

/*--------------------*\
		Imports
\*--------------------*/

@import "partials/base";
@import "partials/layout";
